@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@400;700&family=Ubuntu:wght@300&display=swap');


.navigationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.navigationbar .logo {
    margin-top: 20px;
    margin-left: 20px;
}

.navigationbar .admin p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height */

    color: #0E0909;
    margin-right: 15px;
    cursor: pointer;
}

.navigationbar .admin p:hover {
    color: #B41010
}