@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@400;700&family=Ubuntu:wght@300&display=swap');

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.carte-title {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #0280FE;

}

.formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.formulaire .formulaire-input {
    margin-bottom: 20px;
}

.formulaire-input div {
    margin-bottom: 5px;
}

.formulaire-input {
    height: 78px;
}

.formulaire-input label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    /* identical to box height */


    color: #948E8E;
}

.formulaire-input input {
    border: 1px solid #002777;
    border-radius: 15px;
    width: 433px;
    height: 40px;
    outline: none;
    padding-left: 10px;
}



.btn-connexion {
    width: 433px;
    height: 55px;
    background: #002777;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.165em;
    color: #FFFFFF;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
        transition: all 0.3s ease;
        box-shadow: 0 0 5px 0 hsl(0, 0%, 74%);
}
.btn-connexion:hover {
    color: black;
        background-color: white;
        transform: scale(1.03);
        box-shadow: 0 0 10px 0 hsl(0, 0%, 74%);
}

@media screen and (max-width: 430px) {

    .formulaire-input input {

        width: 300px;
    }

    .btn-connexion {
        width: 300px;
    }
}