@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@400;700&family=Ubuntu:wght@300&display=swap');

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    background: #D9D9D9;
    border-radius: 15px;
    padding-bottom: 25px;
}

.card-title {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #0280FE;
    margin-top: 25px;

}

.form {
    margin-top: 30px;
}

.form .form-input {
    margin-bottom: 20px;
}

.form-input div {
    margin-bottom: 5px;
}

.form-input {
    height: 78px;
}

.form-input label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    /* identical to box height */


    color: #948E8E;
}

.form-input input {
    border: 1px solid #002777;
    border-radius: 15px;
    width: 433px;
    height: 40px;
    outline: none;
    padding-left: 10px;
}

.btn-connexion {
    width: 433px;
    height: 55px;
    background: #002777;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.165em;
    color: #FFFFFF;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}